html {-webkit-text-size-adjust:none;}
html, body, article, section{height: 100%;width: 100%;}
.hide{display: none;}
.page1{background: url(../img/bg_page1.jpg);}
.page2{background: url(../img/bg_page2.jpg);}
.page3{background: url(../img/bg_page3.jpg);}
.page4{background: url(../img/bg_page4.jpg);}
.page5{background: url(../img/bg_page5_6.jpg);}
.page6{background: url(../img/bg_page5_6.jpg);}
.page7{background: url(../img/bg_page7.jpg);}
.page{position: relative;background-repeat: no-repeat;background-size: 100% auto;overflow: hidden;}

.logo{float:right; width: 5.430555555555555rem; height: 0.4861111111111111rem; margin-top: 1rem; margin-right: 0.8472222222222222rem; background: url(../img/logo.png) no-repeat; background-size: 100% auto; text-indent: -99rem;}
.main-txt{margin-top: 3.3333333333333335rem;margin-left: 1.6388888888888888rem;/* color:#2d96d9; */font-size: 0.5rem;letter-spacing: 2px;}
.main-txt em{color:#ea7887;}
.foot-txt{position: absolute; right: 0.7777777777777778rem;bottom: 1.0136986301369864rem;}
.recruit-tit{line-height: .9rem;color: #1896da;font-size: 0.7rem;font-family: '\5FAE\8F6F\96C5\9ED1';font-weight: bold;text-align: center;text-shadow: 5px 5px 5px #fff;letter-spacing: 1px;}
.recruit-tit span{display: block;}
.recruit-tit em{color: #e97584;}

.page1 .slogan{width: 4.333333333333333rem; height:7.069444444444445rem;margin-top: 3.0277777777777777rem; margin-left: 1.7083333333333333rem;}
.page1 .slogan img{-webkit-animation: start 2s ease-in-out;animation: start 2s ease-in-out;}
.page1 .from-txt{position: absolute; right: 1.6388888888888888rem; bottom: 2.8055555555555554rem;}
.page3 .main-txt{margin-top: 4.541666666666667rem;}
.page4 .main-txt{margin-top: 7.277777777777778rem;}
.page4 .look{margin-left: 8%;}
.page4 .txt-link{margin-top: 1.8611111111111112rem; margin-left: 1.6388888888888888rem; font-size:0.4rem; font-family: '\5FAE\8F6F\96C5\9ED1';}
.page4 .txt-link a{color:#707070; text-decoration: underline;}
.page4 .txt-link em{color:#ea7887}

.page5 .recruit-tit{padding-top: 2.0833333333333335rem;}
.page5 .recruit-tit span{font-size: 0.5rem;}
.page6 .recruit-tit{padding-top: 1.3888888888888888rem;}

.recruit-box{width: 8.072222222222222rem;height: 13.172222222222221rem;margin:0 auto;padding: 0.1rem 0.4rem 0.2rem 0;background: url(../img/recruit_bg.png) no-repeat;background-size: 100% auto;color:#313131; font-family: '\5FAE\8F6F\96C5\9ED1';}
.recruit-box dl{padding-left: 1rem;}
.recruit-box dt{margin-left: -0.7rem;padding-top: 0.1rem;line-height: 0.4rem;color: #eb6877;font-size: 0.3rem;font-weight: bold;}
.recruit-box dd{font-size: 0.25rem;}
.recruit-box .tit{color: #0068b7; font-weight: bold;}
.recruit-box span{/* color: #313131; */font-weight: bold;}
.recruit-box img{margin-top: 0.1rem;}
.recruit-box .more{line-height: 0.75rem; color: #0068b7; font-size: 0.25rem; text-align: center;}
.recruit-box .more em{font-weight: bold;}

.form-box{width: 6.333333333333333rem;height: 9.694444444444445rem;margin: 0.4166666666666667rem auto 0;padding-top: 0.3055555555555556rem;background: #e6f7ff url(../img/card_bg.png) no-repeat;background-size: 100% auto;border-radius: 0.15rem;-moz-border-radius: 0.15rem;-webkit-border-radius: 0.15rem;font-family: '\5FAE\8F6F\96C5\9ED1';}
.form-box .logo{float:none;width: 5.305555555555555rem;height: 0.6666666666666666rem;margin: 0 0 0 0.2777777777777778rem;}
.form-box .name{line-height: 1.5833333333333333rem;color: #eb6876;font-size: 0.65rem;font-weight: bold;text-align: center;letter-spacing: 0.25rem;}
.form-box .photo{position:relative;width: 2.3333333333333335rem;height: 3.0277777777777777rem;margin: 0 auto;border: 1px solid #000;background-color: #fff;text-align: center;overflow: hidden;}
.form-box .photo a{display:block;padding:0.5rem 0;line-height: 1rem;color:#434343;font-size: 0.3rem;text-decoration: none;}
.form-box .input-file{position: absolute;left: 0px;top: 0px;z-index: 11;width: 100%;height: 100%;opacity: 0;filter:alpha(opacity=0);}
.form-box .photo .img-box{position: absolute;top: 0;left: 0;z-index: 10;}
.form-box .img-box img{height: 3.0277777777777777rem;}
.form-box dl{width: 2.5277777777777777rem;padding-left: 1.6388888888888888rem;padding-top: 0.4444444444444444rem; font-size:0.25rem;}
.form-box dt{float: left;clear: left;width: 1.5388888888888888rem; height: 0.5rem; line-height: 0.5rem; padding-top: 0.1rem;margin-left: -1.6388888888888888rem;padding-right:0.1rem;color:#035294;font-weight: bold;text-align: right;}
.form-box dd{width: 100%;float: left;}
.form-box .input-txt{display: block; width: 2.361111111111111rem; height: 0.3rem; line-height: 0.3rem; padding: 0.2rem 0 .1rem; background: none; border:none; border-bottom: 1px solid #3375ab; outline: medium; font-size: 0.25rem; font-family: '\5FAE\8F6F\96C5\9ED1'; text-align: center;}
.form-box input.input-txt::-webkit-input-placeholder{color:#eb6877;}
.form-box input.input-txt:-moz-input-placeholder{color:#eb6877;}
.form-box input.input-txt::-moz-input-placeholder{color:#eb6877;}
.form-box input.input-txt:-ms-input-placeholder{color:#eb6877;}
.page6 .btn-submit {display: block; width: 7.569444444444445rem; height: 1.2916666666666667rem; margin:0.7777777777777778rem auto 0; background: url(../img/btn_submit.png) no-repeat; background-size: 100% auto; text-indent: -99rem;}
.page6 .footer{width: 10rem;height: 0.25rem; line-height: 0.25rem; margin-top: 0.7777777777777778rem; background: url(../img/footer_line.png) no-repeat; background-size: 100% auto;font-size: 0.3rem;font-family: '\5FAE\8F6F\96C5\9ED1'; text-align: center;}
.page6 progress{width: 100%;height: 0.5rem;display: none;}

.page7 .inner{padding-top: 4.138888888888889rem;}
.page7 .card-box{width: 5.180555555555555rem;height: 8.055555555555555rem;margin:0 auto;padding:0.5138888888888888rem 0 0 0.16666666666666666rem; background: url(../img/card_bag.png) no-repeat;background-size: 100% 100%;-moz-transform: rotate(-7deg);-webkit-transform: rotate(-7deg);transform: rotate(-7deg);}
.page7 .card-box img{width: 5.013888888888889rem; height: 7.902777777777778rem;}
.page7 .download{font-size: 0.5rem;}

/*FULLP PAGE*/
@-webkit-keyframes start {
    0%,30% {opacity: 0.2;-webkit-transform: translate(0,10px);}
    60% {opacity: 1;-webkit-transform: translate(0,0);}
    100% {opacity: 0.2;-webkit-transform: translate(0, -5px);}
}
@keyframes start {
    0%,30% {opacity: 0.2;transform: translate(0,10px);}
    60% {opacity: 1;transform: translate(0,0);}
    100% {opacity: 0.2;transform: translate(0, -5px);}
}
.start{position: fixed;left: 50%;margin-left: -17px;top: 95%;margin-top: -34px;width: 34px;height: 34px;}
.start b{position: absolute;left: 50%;top: 10px;margin-left: -9px;width: 19px;height: 12px;background: url(../img/arrow.png);background-size: 100% 100%;-webkit-animation: start 1.5s infinite ease-in-out;animation: start 1.5s infinite ease-in-out;}

